In [3]:
#import openexchange test api call data

In [4]:
file = open(".env", "r")
content = file.read()
file.close()

In [5]:
envdata = content.split("\n")
env = {}
for i in envdata:
    d = i.split("=")
    env[d[0]] = d[1]

In [8]:
import requests

In [70]:
currency_list = 'currencies.json'
api_usage = 'usage.json'
x = requests.get(f'https://openexchangerates.org/api/{currency_list}?app_id={env["openx"]}')

200
{'AED': 'United Arab Emirates Dirham', 'AFN': 'Afghan Afghani', 'ALL': 'Albanian Lek', 'AMD': 'Armenian Dram', 'ANG': 'Netherlands Antillean Guilder', 'AOA': 'Angolan Kwanza', 'ARS': 'Argentine Peso', 'AUD': 'Australian Dollar', 'AWG': 'Aruban Florin', 'AZN': 'Azerbaijani Manat', 'BAM': 'Bosnia-Herzegovina Convertible Mark', 'BBD': 'Barbadian Dollar', 'BDT': 'Bangladeshi Taka', 'BGN': 'Bulgarian Lev', 'BHD': 'Bahraini Dinar', 'BIF': 'Burundian Franc', 'BMD': 'Bermudan Dollar', 'BND': 'Brunei Dollar', 'BOB': 'Bolivian Boliviano', 'BRL': 'Brazilian Real', 'BSD': 'Bahamian Dollar', 'BTC': 'Bitcoin', 'BTN': 'Bhutanese Ngultrum', 'BWP': 'Botswanan Pula', 'BYN': 'Belarusian Ruble', 'BZD': 'Belize Dollar', 'CAD': 'Canadian Dollar', 'CDF': 'Congolese Franc', 'CHF': 'Swiss Franc', 'CLF': 'Chilean Unit of Account (UF)', 'CLP': 'Chilean Peso', 'CNH': 'Chinese Yuan (Offshore)', 'CNY': 'Chinese Yuan', 'COP': 'Colombian Peso', 'CRC': 'Costa Rican Colón', 'CUC': 'Cuban Convertible Peso', 'CUP': 'Cuban Peso', 'CVE': 'Cape Verdean Escudo', 'CZK': 'Czech Republic Koruna', 'DJF': 'Djiboutian Franc', 'DKK': 'Danish Krone', 'DOP': 'Dominican Peso', 'DZD': 'Algerian Dinar', 'EGP': 'Egyptian Pound', 'ERN': 'Eritrean Nakfa', 'ETB': 'Ethiopian Birr', 'EUR': 'Euro', 'FJD': 'Fijian Dollar', 'FKP': 'Falkland Islands Pound', 'GBP': 'British Pound Sterling', 'GEL': 'Georgian Lari', 'GGP': 'Guernsey Pound', 'GHS': 'Ghanaian Cedi', 'GIP': 'Gibraltar Pound', 'GMD': 'Gambian Dalasi', 'GNF': 'Guinean Franc', 'GTQ': 'Guatemalan Quetzal', 'GYD': 'Guyanaese Dollar', 'HKD': 'Hong Kong Dollar', 'HNL': 'Honduran Lempira', 'HRK': 'Croatian Kuna', 'HTG': 'Haitian Gourde', 'HUF': 'Hungarian Forint', 'IDR': 'Indonesian Rupiah', 'ILS': 'Israeli New Sheqel', 'IMP': 'Manx pound', 'INR': 'Indian Rupee', 'IQD': 'Iraqi Dinar', 'IRR': 'Iranian Rial', 'ISK': 'Icelandic Króna', 'JEP': 'Jersey Pound', 'JMD': 'Jamaican Dollar', 'JOD': 'Jordanian Dinar', 'JPY': 'Japanese Yen', 'KES': 'Kenyan Shilling', 'KGS': 'Kyrgystani Som', 'KHR': 'Cambodian Riel', 'KMF': 'Comorian Franc', 'KPW': 'North Korean Won', 'KRW': 'South Korean Won', 'KWD': 'Kuwaiti Dinar', 'KYD': 'Cayman Islands Dollar', 'KZT': 'Kazakhstani Tenge', 'LAK': 'Laotian Kip', 'LBP': 'Lebanese Pound', 'LKR': 'Sri Lankan Rupee', 'LRD': 'Liberian Dollar', 'LSL': 'Lesotho Loti', 'LYD': 'Libyan Dinar', 'MAD': 'Moroccan Dirham', 'MDL': 'Moldovan Leu', 'MGA': 'Malagasy Ariary', 'MKD': 'Macedonian Denar', 'MMK': 'Myanma Kyat', 'MNT': 'Mongolian Tugrik', 'MOP': 'Macanese Pataca', 'MRU': 'Mauritanian Ouguiya', 'MUR': 'Mauritian Rupee', 'MVR': 'Maldivian Rufiyaa', 'MWK': 'Malawian Kwacha', 'MXN': 'Mexican Peso', 'MYR': 'Malaysian Ringgit', 'MZN': 'Mozambican Metical', 'NAD': 'Namibian Dollar', 'NGN': 'Nigerian Naira', 'NIO': 'Nicaraguan Córdoba', 'NOK': 'Norwegian Krone', 'NPR': 'Nepalese Rupee', 'NZD': 'New Zealand Dollar', 'OMR': 'Omani Rial', 'PAB': 'Panamanian Balboa', 'PEN': 'Peruvian Nuevo Sol', 'PGK': 'Papua New Guinean Kina', 'PHP': 'Philippine Peso', 'PKR': 'Pakistani Rupee', 'PLN': 'Polish Zloty', 'PYG': 'Paraguayan Guarani', 'QAR': 'Qatari Rial', 'RON': 'Romanian Leu', 'RSD': 'Serbian Dinar', 'RUB': 'Russian Ruble', 'RWF': 'Rwandan Franc', 'SAR': 'Saudi Riyal', 'SBD': 'Solomon Islands Dollar', 'SCR': 'Seychellois Rupee', 'SDG': 'Sudanese Pound', 'SEK': 'Swedish Krona', 'SGD': 'Singapore Dollar', 'SHP': 'Saint Helena Pound', 'SLL': 'Sierra Leonean Leone', 'SOS': 'Somali Shilling', 'SRD': 'Surinamese Dollar', 'SSP': 'South Sudanese Pound', 'STD': 'São Tomé and Príncipe Dobra (pre-2018)', 'STN': 'São Tomé and Príncipe Dobra', 'SVC': 'Salvadoran Colón', 'SYP': 'Syrian Pound', 'SZL': 'Swazi Lilangeni', 'THB': 'Thai Baht', 'TJS': 'Tajikistani Somoni', 'TMT': 'Turkmenistani Manat', 'TND': 'Tunisian Dinar', 'TOP': "Tongan Pa'anga", 'TRY': 'Turkish Lira', 'TTD': 'Trinidad and Tobago Dollar', 'TWD': 'New Taiwan Dollar', 'TZS': 'Tanzanian Shilling', 'UAH': 'Ukrainian Hryvnia', 'UGX': 'Ugandan Shilling', 'USD': 'United States Dollar', 'UYU': 'Uruguayan Peso', 'UZS': 'Uzbekistan Som', 'VEF': 'Venezuelan Bolívar Fuerte (Old)', 'VES': 'Venezuelan Bolívar Soberano', 'VND': 'Vietnamese Dong', 'VUV': 'Vanuatu Vatu', 'WST': 'Samoan Tala', 'XAF': 'CFA Franc BEAC', 'XAG': 'Silver Ounce', 'XAU': 'Gold Ounce', 'XCD': 'East Caribbean Dollar', 'XDR': 'Special Drawing Rights', 'XOF': 'CFA Franc BCEAO', 'XPD': 'Palladium Ounce', 'XPF': 'CFP Franc', 'XPT': 'Platinum Ounce', 'YER': 'Yemeni Rial', 'ZAR': 'South African Rand', 'ZMW': 'Zambian Kwacha', 'ZWL': 'Zimbabwean Dollar'}

In [ ]:
print(x.status_code)
print(x.json())

In [29]:
import json
import pprint
pp = pprint.PrettyPrinter(indent=2, width=30, compact=True)
import pandas as pd
import matplotlib as plt

In [19]:
oxdf = pd.read_json('./openx_test.json')
#usd = f'https://openexchangerates.org/api/latest.json?app_id={env["openx"]}&base=USD'

In [20]:
oxdf.head()

,disclaimer,license,timestamp,base,rates
AED,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,2024-04-09 18:00:00,USD,3.672330
AFN,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,2024-04-09 18:00:00,USD,71.328684
ALL,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,2024-04-09 18:00:00,USD,93.966667
AMD,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,2024-04-09 18:00:00,USD,389.073881
ANG,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,2024-04-09 18:00:00,USD,1.802215

In [ ]:
from bs4 import BeautifulSoup as bs

In [96]:
#scraping list of S&P 500 tickers from wikipedia
wikiurl = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [ ]:
page = requests.get(wikiurl)

In [107]:
html = page.text

In [169]:
soup = bs(html, 'html.parser')
#print(soup.prettify())

In [164]:
table_rows = soup.find_all('tr')
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
symdf = pd.DataFrame(l, columns=["symbol", "name", "sector","subsector","hq","dateadded","cik","founded"])

In [165]:
#remove extra rows
symdf.iloc[503]
df = symdf[1:503]

In [166]:
df['symbol'] = df['symbol'].str.replace('\n', '')
df['founded'] = df['founded'].str.replace('\n', '')

C:\Users\Ian Smith\AppData\Local\Temp\ipykernel_25008\1576056208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['symbol'] = df['symbol'].str.replace('\n', '')
C:\Users\Ian Smith\AppData\Local\Temp\ipykernel_25008\1576056208.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['founded'] = df['founded'].str.replace('\n', '')

In [167]:
df.head()

,symbol,name,sector,subsector,hq,dateadded,cik,founded
1,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,0000066740,1902
2,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,0000091142,1916
3,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,0000001800,1888
4,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
5,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989

In [40]:
#alpha vantage ticker symbol search
#search = requests.get(f'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=apple&apikey={env["alphav"]}')

In [ ]:
#data = search.json()
#pp.pprint(data)

In [175]:
import time

In [44]:
#alphavantage api data 25 calls per day
#csv
#alvc = requests.get(f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=SPX&apikey={env["alphav"]}&datatype=csv')
#json
dailyd = []
for i in df['symbol'][1:20]:
    alv = requests.get(f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={'i'}&outputsize=full&apikey={env["alphav"]}')
    dailyd.append(alv)
    time.sleep(42)

In [ ]:
dfs = []
for i in dailyd:
    temp = dfs.append(i.json())
    dailyd.append(pd.DataFrame.from_dict(temp['Time Series (Daily)'],orient='index',descending=False)

#avdf = pd.DataFrame.from_dict(ts, orient='index', descending=False)

In [178]:
#avd = alv.json()
#pp.pprint(avd)

In [ ]:
res_dict = json.loads(alv.text)
for i in res_dict:
    print(i)
#alvc_res = alvc.text
#print(alvc_res)

In [183]:
ts = avd['Time Series (Daily)']

In [187]:
print(ts['2024-04-16'])

{'1. open': '35.5900', '2. high': '35.5900', '3. low': '35.5900', '4. close': '35.5900', '5. volume': '0'}

In [83]:
#avdf = pd.read_json(avd)
avdf = pd.DataFrame.from_dict(ts, orient='index', descending=False)

TypeError: DataFrame.from_dict() got an unexpected keyword argument 'descending'

In [78]:
avdf.head()

            1. open  2. high   3. low 4. close 5. volume
2024-04-16  35.5900  35.5900  35.5900  35.5900         0
2024-04-15  35.5800  35.5800  35.5800  35.5800         0
2024-04-12  36.1700  36.1700  36.1700  36.1700         0
2024-04-11  36.7900  36.7900  36.7900  36.7900         0
2024-04-10  36.1900  36.1900  36.1900  36.1900         0

starting with
How to Query Google Patents Public Data (BigQuery)
[Click here](https://www.kaggle.com/mrisdal/safely-analyzing-github-projects-popular-licenses) for a detailed notebook demonstrating how to use the bq_helper module and best practises for interacting with BigQuery datasets.

In [180]:
from google.cloud import bigquery

In [181]:
# Start by importing the bq_helper module and calling on the specific active_project and dataset_name for the BigQuery dataset.
client = bigquery.Client()
print(client)

#pip install bigquery
#import bq_helper
#from bq_helper import BigQueryHelper
## https://www.kaggle.com/sohier/introduction-to-the-bq-helper-package
#
#patents = bq_helper.BigQueryHelper(active_project="patents-public-data",
#                                   dataset_name="patents")

DefaultCredentialsError: Your default credentials were not found. To set up Application Default Credentials, see https://cloud.google.com/docs/authentication/external/set-up-adc for more information.

In [ ]:
# View table names under the patents data table
bq_assistant = BigQueryHelper("patents-public-data", "patents")
bq_assistant.list_tables()

In [ ]:
# View the first three rows of the publications data table
bq_assistant.head("publications", num_rows=3)

In [ ]:
# View information on all columns in the publications data table
bq_assistant.table_schema("publications")

## Example SQL Query
Which countries have created patents?

In [ ]:
query1 = """
SELECT DISTINCT
  country_code
FROM
  `patents-public-data.patents.publications`
LIMIT
  20;
        """
response1 = patents.query_to_pandas_safe(query1)
response1.head(20)

## Importance of Knowing Your Query Sizes

It is important to understand how much data is being scanned in each query due to the free 5TB per month quota. For example, if a query is formed that scans all of the data in a particular column, given how large BigQuery datasets are it wouldn't be too surprising if it burns through a large chunk of that monthly quota!

Fortunately, the bq_helper module gives us tools to very easily estimate the size of our queries before running a query. Start by drafting up a query using BigQuery's Standard SQL syntax. Next, call the estimate_query_size function which will return the size of the query in GB. That way you can get a sense of how much data is being scanned before actually running your query.

In [ ]:
bq_assistant.estimate_query_size(query1)

Interpretting this number, this means my query scanned about ~0.35 GB (or 350 MB) of data in order to return a table of 20 unique country codes in the dataset.